/* stylelint-disable selector-list-comma-newline-after */

body {
  background-image: url("");
  background-color: gray;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.jumbotron {
  background-color: rgba(44, 40, 40, 0.85);
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  text-align: center;
  background-color: #f9f9f900;
  border-top: .05rem solid #e5e5e500;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
